<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
  <h1>Дякуэмо за ваше замовлення!</h1>
  <h2>Ваш заказ № {{ order_number }}</h2>
<table border="1">
        <tr>
            <th>Перша страва</th>
            <th>Друга страва</th>
            <th>НапоЇ</th>
            <th>Інше</th>
        </tr>
        <tr>
            <th>{{ order_dict.first_dish }}</th>
            <th>{{ order_dict.second_dish }}</th>
            <th>{{ order_dict.drinks }}</th>
            <th>{{ order_dict.other }}</th>
        </tr>
</table>
<br>
<br>
<p><a href="/">Повернутися до меню замовлення</a></p>
</body>
</html>